$light-blue: #dfecfe;
$blue: #03398a;
$dark-blue: #0a2c5e;

html,
body {
    height: 100%;
}

body {
    background-color: $light-blue;
}

main {
    min-height: 100vh !important;
}

.page-heading {
    color: $dark-blue;
}

.home {
    min-height: 100vh;

    .card-link {
        color: $blue;
        text-decoration: none;
        text-align: center;

        .card-button {
            border: 1px solid $blue;
            border-radius: 5px;
            height: 100%;
            width: 100%;

            .card-body {
                .card-icon {
                    width: 30%;
                }
            }
        }
    }
}

.dashboard {
    .count-card {
        border-radius: 10px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        .count-card-title {
            font-size: 1rem;
            margin: 0;
            flex-grow: 1;
        }

        .count {
            color: #fff;
            font-size: 2.5rem;
            font-weight: bold;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
        }
    }

    .card1 {
        background-color: #ffe0b2;

        .title1 {
            color: #e65100;
        }

        .count1 {
            background-color: #ff9800;
        }
    }

    .card2 {
        background-color: #b3e5fc;

        .title2 {
            color: #03a9f4;
        }

        .count2 {
            background-color: #0288d1;
        }
    }

    .card3 {
        background-color: #c8e6c9;

        .title3 {
            color: #388e3c;
        }

        .count3 {
            background-color: #4caf50;
        }
    }
}

.add-file {
    header {
        background-color: #333;
        color: #fff;
        height: 80px;

        img {
            height: 50px;
        }
    }

    .file-info {
        border: 1px solid #ccc;
    }

    .timeline {
        width: 100%;
        position: relative;

        .line {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ccc;
            z-index: -1;
        }

        .status {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            border-radius: 20px;
            cursor: pointer;
            background-color: #ffe4b5;
            text-decoration: none;
            color: #000;

            &.active {
                background-color: #98fb98;
            }
        }

        button.status {
            border: none;
        }
    }
}

.notification-window {
    .notification-list {
        .notification-card {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

            .notification-icon,
            .notification-delete {
                width: 30px;
                height: 30px;
            }
        }

        .notification-sent,
        .notification-endorsed {
            background-color: #ffe0b2;

            .notification-message {
                color: #e65100;
            }

            .notification-icon {
                color: #ff9800;
            }
        }

        .notification-signed {
            background-color: #b3e5fc;

            .notification-message {
                color: #03a9f4;
            }

            .notification-icon {
                color: #0288d1;
            }
        }

        .notification-released {
            background-color: #c8e6c9;

            .notification-message {
                color: #388e3c;
            }

            .notification-icon {
                color: #4caf50;
            }
        }

        .notification-received {
            background-color: #f5f5f5;

            .notification-message {
                color: #616161;
            }

            .notification-icon {
                color: #bdbdbd;
            }
        }

        .notification-returned {
            background-color: #f5f5f5;

            .notification-message {
                color: #616161;
            }

            .notification-icon {
                color: #bdbdbd;
            }
        }

        .notification-approved {
            background-color: #ffb2f9;

            .notification-message {
                color: #d300e6;
            }

            .notification-icon {
                color: #ff00ea;
            }
        }
    }
}

.profile {
    .profile-info {
        border: 1px solid #ccc;
    }
}
